/* You can add global styles to this file, and also import other style files */
body, input {
  margin: 0px;
  background-color: #111111;
  color: white;
  font-family: 'Share Tech Mono', monospace;
}

body {
  padding-bottom: 4em;
}
